.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 24px;
  padding: 0;
  justify-content: center;
}

.gallery-item {
  flex-basis: calc((100% - 24px) / 3);
}

.gallery-link {
  display: block;
  text-decoration: none;
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
  transform: scale(1.05);
  cursor: zoom-in;
}
